<html>
     <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Shoe brands</title>
    </head>
    <body>
        <div class="container">
            <h1>Here are all of the brands of shoes:</h1>

            {% if brands is not empty %}
                <ul>
                    {% for brand in brands %}
                    <li><a href="/brand/{{ brand.getId }}"> {{brand.getBrandName }} </a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>There are no brands entered yet!</p>
            {% endif %}

            <h4>Add a new brand:</h4>
            <form action="/brands" method="post">
                <label for="brand_name">Brand name:</label>
                <input type="text" name="brand_name" id="brand_name">
                <button type="submit" class="btn-success">Add it!</button>
            </form>

            <form action="/delete_brands" method="post">
                <button type="submit" class="btn-danger">Remove all brands</button>
            </form>

            <h3><a href="/">Go home</a></h3>
        </div>
    </body>
</html>
