
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    <title>Brands</title>
    </head>
    <body>
        <h1>{{ brand.getBrandName }}</h1>

        <h2>This brand is available in the following stores:</h2>
            <ul>
                <li></li>
            </ul>

        <p><a href='/'>Home</a></p>
    </body>
</html>
