<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        <title>Shoe Distributor</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1 class="pageHeader">Shoes and Such</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/jordan.jpg" alt="Air Jordan 1" id="jordan">
                    <p><a href="/brands"><img src="/img/click.png" alt="click here button" class="butt"></a> to see all of the shoe brands and to add a brand.</p>
                </div>
                <div class="col-md-6">
                    <img src="/img/shoe_store.jpg" alt="shoe store" id="shoeStore">
                    <p><a href="/stores"><img src="/img/click.png" alt="click here button" class="butt"></a> to see all of the stores and to add a store.</p>
                </div>
            </div>
        </div>
    </body>
</html>
