<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Shoe Distributor</title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Shoes and Such</h1>
        </div>
        <p><a href="/brands">Click here</a> to see all of the shoe brands and to add a brand.</p>
        <p><a href="/stores">Click here</a> to see all of the stores and to add a store.</p>
    </body>
</html>
